<h1>List of all games</h1>


{{#each games}}

<div class="game-card">

<h2>Name: {{name}}</h2>

{{!-- <p>Description: {{description}}</p> --}}

<img class="thumbnailUrl" src="{{thumbnailUrl}}" alt="{{name}}" />

<h4>Creator: {{game.creator}}</h4>

{{!-- <a href="/games/{{_id}}">See more</a> --}}
</div>

{{/each}}