<nav>
 <div class="navbar-end">
      <div class="navbar-item">
        <a  href="/private/creator/profile">Go to My creator panel</a>
        <a href="/auth/logout">Log out</a>
      </div>
    </div>
</nav>


<h1> Welcome, {{currentCreator.username}}!!</h1>
    <img src="{{currentCreator.profileImage}}" alt=""></img>
<div>

    {{#each gamesList}}
        {{name}} <br>
        <img src="{{thumbnailUrl}}" alt="Game Image"></img> <br>
        {{creator.username}}<br>
        {{description}}
        <a href="{{_id}}" class ="play-button" role="button">PLAY</a>       
    {{/each}}
    
</div>
