
 <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
        <a class="button has shadow" href="/auth/logout">Log out</a>
      </div>
    </div>
  </div>

<h1 class='title is-1'>Welcome, {{currentUser}}!!</h1>

<div>
   <img src="{{currentUser.profileImage}}" alt=""></img>
    
    {{#each gamesList}}
        {{name}} <br>
        <img src="{{thumbnailUrl}}" alt="Game Image"></img> <br>
        {{creator.username}}<br>
        <a href="{{_id}}" class ="play-button" role="button">PLAY</a>
        <hr>        
    {{/each}}
    
</div>

